<h3>Mobiles</h3>

<ul>
    <li >iphone 15pro max</li></a>
    <li >iphone 14 pro max</li>
    <li >iphone 13</li>
    <li >iqoo 12</li>
</ul>

<h3>Laptops</h3>
<ul>
    <li >lenova</li>
    <li >macbook pro</li>
    <li >Asus Rog</li>
    <li >HP</li>
</ul>
<h3>Watches</h3>
<ul>
    <li>Firebolt ninja</li>
    <li>Noise Colorfit pro</li>
    <li>I watch 6</li>
    <li>realme 6</li>
</ul>