<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Active</td>
        <td><button type="button" class="btn btn-tertiary" data-mdb-ripple-init data-mdb-ripple-color="light">Block</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Bijoy</td>
        <td>Active</td>
        <td><button type="button" class="btn btn-tertiary" data-mdb-ripple-init data-mdb-ripple-color="light">Block</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>Active</td>
        <td><button type="button" class="btn btn-tertiary" data-mdb-ripple-init data-mdb-ripple-color="light">Block</button></td>
      </tr>
    </tbody>
  </table>