<h2>check out</h2>
<button type="button" class="addressbtn" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" onclick="listAddress()">Add address</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add address</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form  action="/checkout" method="post">
                <label for="">Address</label>   
                <input class="input1" name="address" type="text" >
                <br>
                <label for="">Pincode</label>   
                <input class="input2"name="pincode" type="number" >
                <br>
                <label for="">District</label>   
                <input class="input3"name="district" type="text" >
                <br>
                <label for="">State</label>   
                <input class="input4"name="state" type="text" >
                <br>
                <button  class="subbtn" type="submit">submit</button>
                
                </form>
        </div>
      </div>
    </div>
  </div>

  <% if (addingAddress && addingAddress.length > 0) { %>
    <% addingAddress.forEach((list) => { %>
      <div class="showaddress">
        <p><%= list.address || 'N/A' %></p>
        <p><%= list.pincode || 'N/A' %></p>
        <p><%= list.district || 'N/A' %></p>
        <p><%= list.state || 'N/A' %></p>
      </div>
    <% }) %>
  <% } else { %>
    <p>No addresses available.</p>
  <% } %>
  


<div class="pay">
    <button class="payment" type="button">Payment</button>
</div> 
