<h2>check out</h2>
<form action="/checkOut" method="post">

<input class="input" type="text" placeholder="name">
<br>
<input class="input" type="text" placeholder="address">
<br>
<input class="input" type="number" placeholder="pincode">
<br>
<input class="input" type="text" placeholder="district">
<br>
<input class="input" type="text" placeholder="state">
<br>
<button  class="input" type="submit">submit</button>

</form>


