<h2>check out</h2>
<div class="form">
<form  action="/checkOut" method="post">



<label for="">Address</label>   
<input class="input1" type="text" >
<br>
<label for="">Pincode</label>   
<input class="input2" type="number" >
<br>
<label for="">District</label>   
<input class="input3" type="text" >
<br>
<label for="">State</label>   
<input class="input4" type="text" >
<br>
<button  class="subbtn" type="submit">submit</button>

</form>
</div>

<div class="pay">
    <button class="payment" type="button">Payment</button>
</div>
