<div class="signin">
  <form id="loginForm" class="col-md-6 mt-5" action="/signin" method="post">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label"  for="form2Example1" >Email address</label>
    <input type="email" id="email" name="email" class="form-control" />
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Password</label>
     <input type="password" id="password"  name="password" class="form-control" />
  </div>

  <!-- 2 column grid layout for inline styling -->
 <div class="row mb-4">

    <div class="col">
      <a href="#!">Forgot password?</a>
    </div>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a href="/register">Register</a></p>
    <p>or sign up with:</p>
    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-facebook-f"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-google"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-twitter"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-github"></i>
    </button>
  </div>
</form>


<script>
  document.getElementById('loginForm').addEventListener('submit', function (event) {
    event.preventDefault(); // Prevent the default form submission

    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;

    // Make a fetch request to your backend API
    fetch('/signin', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ email, password }),
    })
    .then(response => response.json())
    .then(data => {
      console.log(data,"Data");
      // Check for errors in the response
      if (data.error) {
        // Display the error message to the user
        alert(data.error);
      } else {
        // Redirect or handle success
        console.log("elsecase>>");
        window.location.href = '/';
      }
    })
    .catch(error => {
      console.log('Error:', error);
      // Handle other errors
    });
  });
</script>
</div>