<h3>MOBILES</h3>
<div class="row justify-content-evenly">

    <% products.forEach((product)=>{ %>
    <div class="col-md-3 sm-6 card" style="width: 18rem;">
        <img class="card-img-top" src="img/15promax.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><%= product.name %></p>
            <del>&#8377;129999</del>
            <h4>&#8377;<%= product.price %></h4>
        </div>
        <button type="button" onclick="addToCart('<%=product._id%>')">+
            Cart</button>
    </div>
    <% }) %>
</div>
<h2>Laptops</h2>
<div class="row justify-content-evently">
    <div class="col-md-3 sm-6 card" style="width: 18rem;">
        <img class="card-img-top" src="img/macbookpro.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Mac book pro</p>
            <del>&#8377;98000</del>
            <h4>&#8377;89000</h4>
        </div>
    </div>
    <div class="col-md-3 sm-6 card" style="width: 18rem;">
        <img class="card-img-top" src="img/HP pavilion15.jpg"
            alt="Card image cap">
        <div class="card-body">
            <p class="card-text">HP pavilion 15</p>
            <del>&#8377;55000</del>
            <h4>&#8377;49000</h4>
        </div>
    </div>
    <div class="col-md-3 sm-6 card" style="width: 18rem;">
        <img class="card-img-top" src="img/asusrog.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">ASUS Rog</p>
            <del>&#8377;84000</del>
            <h4>&#8377;78000</h4>
        </div>
    </div>
    <div class="col-md-3 sm-6 card" style="width: 18rem;">
        <img class="card-img-top" src="img/lenovathinkpad.jpg"
            alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Lenova think pad</p>
            <del>&#8377;78000</del>
            <h4>&#8377;65000</h4>
        </div>
    </div>
</div>
<h2>watches</h2>
<div class="row justify-content-evently">
    <div class="col-md-3 sm-6 card" style="width: 18rem;">
        <img class="card-img-top" src="img/fireboltninja.jpg"
            alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Lenova think pad</p>
            <del>&#8377;78000</del>
            <h4>&#8377;65000</h4>
        </div>
    </div>
    <div class="col-md-3 sm-6 card" style="width: 18rem;">
        <img class="card-img-top" src="img/iwatch6.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Lenova think pad</p>
            <del>&#8377;78000</del>
            <h4>&#8377;65000</h4>
        </div>
    </div>
    <div class="col-md-3 sm-6 card" style="width: 18rem;">
        <img class="card-img-top" src="img/noisecolorfitpro.jpg"
            alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Lenova think pad</p>
            <del>&#8377;78000</del>
            <h4>&#8377;65000</h4>
        </div>
    </div>
    <div class="col-md-3 sm-6 card" style="width: 18rem;">
        <img class="card-img-top" src="img/realmewatch3.jpg"
            alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Lenova think pad</p>
            <del>&#8377;78000</del>
            <h4>&#8377;65000</h4>
        </div>
    </div>

</div>