body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.maindiv{
  background-color: #eee;
  color: yellow;
}
.header{
  width: 100%;
  height:auto;
  
}
.blbtn{
  border: 0px solid;
  background-color: #fff;
}