*{
  padding: 0;
  /* margin: 0; */
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.maindiv{
  background-color: #eee;
  color: yellow;
}
.header{
  width: 100%;
  height:auto;
  
}
.blbtn{
  border: 0px solid;
  background-color: #fff;
}
.pimg{
  width: 10px;
  height: 8px;
}
.adbtn{
  float: right;
  margin-right: 80px;
  margin-top: -15px;
  padding-bottom: 15px;
}
.select{
  float: right;
  margin-top: -60px;
  margin-right: 100px;

}
.signin{
  margin-left:450px;
}
.bbtn{
  border: 0px ;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  background-color: #9c9797;
}
.check{
  color:black;
  text-decoration: none ;
  background-color: gray;
  border: 1px solid;
  border-radius: 6px;
  
}